.messages-form {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 165%;
  
}
.inner-div-message {
    width: 30%;
    background-color:#64CCC5;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    
}
.inner-div-message h5 {
    margin: 2%;
}
.inner-div-message div {
    margin: 2%;
}