.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.date {
    display: inline-block;
    padding-top: 12%;
    padding-bottom: 12%;
    width: 400px;
}
.input-group {
    flex-wrap: nowrap;
}
